{{#each erros}}
<div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}
<div class="card mt-4">
    <div class="card-header">
        <h4>Cadastro de ingredientes</h4>
    </div>
    <div class="card-body">
        <form action="/ingredientes/novo" method="post">
            <div class="mb-3">
                <label for="descricao">descrição:</label>
                <input type="text" id="descricao" name="descricao" placeholder="descricao do ingrediente"
                    class="form-control">
            </div>            
            <div class="btn-group mt-4">
                 <button type="submit" class="btn btn-primary">Criar ingrediente</button>
                 <a href="/ingredientes" class="btn btn-outline-secondary">Fechar</a>
            </div>            
        </form>
    </div>
</div>