<div class="container-fluid mt-4">
    <div class="row">
        <div class="col col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-title d-flex align-items-center">
                        <div>
                            <i class="fa fa-user fa-3x custom-color-blue"></i>
                        </div>
                        <div>
                            <h4 class="mb-0 px-3">Gerenciar usuários</h4>
                        </div>
                    </div>
                    <p class="card-text">Conjunto de recursos para adicionar novos usuários, pesquisar contas
                        existentes, desabilitar ou reativar acessos, e ajustar permissões conforme o necessário.</p>
                </div>
                <div class="card-footer">
                    <a href="/usuarios/registro" class="card-link">Gerenciar</a>
                </div>
            </div>
        </div>
        <div class="col col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-title d-flex align-items-center">
                        <div>
                            <i class="fa fa-ticket fa-3x custom-color-blue"></i>
                        </div>
                        <div>
                            <h4 class="mb-0 px-3">Definir ingredientes</h4>
                        </div>
                    </div>
                    <p class="card-text">Permite criar novos ingredientes, alterá-los ou até mesmo removê-los quando
                        necessário.</p>
                    <br>

                </div>
                <div class="card-footer">
                    <a href="/ingredientes" class="card-link">Definir</a>
                </div>
            </div>
        </div>
        <div class="col col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-title d-flex align-items-center">
                        <div>
                            <i class="fa fa-shopping-basket fa-3x custom-color-blue"></i>
                        </div>
                        <div>
                            <h4 class="mb-0 px-3">Gerenciar produtos</h4>
                        </div>
                    </div>
                    <p class="card-text">Oferece acesso simplificado para inclusão de novos produtos, pesquisa, edição e
                        remoção dos produtos existentes</p>

                </div>
                <div class="card-footer">
                    <a href="/produtos" class="card-link">Gerenciar</a>
                </div>
            </div>
        </div>
        <div class="col col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-title d-flex align-items-center">
                        <div>
                            <i class="fa fa-random fa-3x custom-color-blue"></i>
                        </div>
                        <div>
                            <h4 class="mb-0 px-3">Gerenciar grupos</h4>
                        </div>
                    </div>
                    <p class="card-text">Permite gerencimento dos grupo de produtos. Pode efetuar pesquisas, edições,
                        alterações ou até mesmo remover um grupo se necessário.</p>

                </div>
                <div class="card-footer">
                    <a href="/grupos" class="card-link">Gerenciar</a>
                </div>
            </div>
        </div>
        <div class="col col-md-8">
            <div class="card">
                <div class="card-body">
                    <div class="card-title d-flex align-items-center">
                        <div>
                            <i class="fa fa-bell fa-3x custom-color-blue"></i>
                        </div>
                        <div>
                            <h4 class="mb-0  px-3">Monitorar chamadas</h4>
                        </div>
                    </div>
                    <p class="card-text">Monitora as chamadas dos clientes para direcionar os atendimentos.
                        Também permite mudar o status da chamadas para atendimento ou encerrada.
                    </p>
                </div>
                <div class="card-footer">
                    <a href="#" class="card-link">Monitorar</a>
                </div>
            </div>
        </div>
    </div>
</div>