<div class="container text-center mt-3">
  <img src="/public/img/logo.png" alt="Logomarca do BistroBits" style="height: 60px; width: auto;">
</div>

<div class="jumbotron mt-5">
  <h1 class="display-6 text-center">Bem-vindo ao Bistrobits: Seu aliado na gestão culinária!</h1>
  <p class="lead">

  <div class="container text-center">
    <a href="/usuarios/login" type="button" class="btn btn-primary btn-lg">Iniciar sessão</a>
  </div>

  <hr class="my-4">
  <p>No coração de cada restaurante está a capacidade de oferecer não apenas comida excepcional, mas também uma
    experiência impecável. Com o Bistrobits, nós capacitamos os estabelecimentos a alcançarem novos patamares de
    excelência, fornecendo ferramentas poderosas no nosso módulo administrativo.</p>

  <br>

  <h2>O que é o Bistrobits?</h2>

  <p>É um sistema de cardápios moderno e simples que coloca o poder de escolha diretamente nas suas mãos.
    Imagine ter o controle completo sobre o cardápio do seu restaurante, desde a criação de grupos e cadastro de
    produtos até a gestão de ingredientes e fotos que cativam os clientes. Com o Bistrobits, tudo isso e muito mais está
    ao seu alcance.
  </p>

  <br>

  <h2>Como funciona?</h2>

  <ol>
    <li>Cadastro Simplificado: Os administradores podem facilmente cadastrar novos produtos, grupos e ingredientes
      usando o painel de controle intuitivo do Bistrobits.</li>
    <li>Personalização Completa: Explore a flexibilidade do nosso sistema ao criar grupos personalizados e adicionar
      fotos atrativas para destacar os produtos do cardápio.</li>
    <li>Gestão Eficiente: Monitore as chamadas dos clientes em tempo real, garantindo um serviço ágil e de qualidade.
    </li>
    <li>Atualizações Instantâneas: Atualize o cardápio em tempo real e forneça aos clientes informações precisas sobre
      ingredientes, preços e disponibilidade de produtos.</li>
  </ol>

  <br><br>

  <p>Esses recursos oferecem aos estabelecimentos um controle completo sobre o cardápio e o atendimento, garantindo uma
    experiência gastronômica excepcional para os clientes enquanto simplifica a gestão operacional.</p>

  <p class="lead">

  </p>
</div>